
@model  AsignarRolViewModel
@{
    ViewBag.Title = "Asignar roles";
}
@Html.Partial("_AdministrarPartial")
<br />
<br />

<h2>Asignar roles</h2>
<br />

@using (Html.BeginForm("AsignarRol", "Manage"))
 

    {
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.Label("Seleccione usuario: ")

            @Html.DropDownListFor(model => model.usuario, (List<SelectListItem>)ViewBag.ListaDoDeUsuarios, "Sin selección")
            <br />
            @Html.ValidationMessageFor(model => model.usuario, "", new { @class = "text-danger" })

        </div>

        <br />
        <br />
        <div class="form-group">
            @Html.Label("Seleccione roles: ")

           

            @Html.ListBoxFor(model => model.roles, (List<SelectListItem>)ViewBag.ListaDoDeRoles)
            <br />
            <br />
            @Html.ValidationMessageFor(model => model.roles, "", new { @class = "text-danger" })

        </div>

        <br />
        <br />
        <div class="form-group">
         
                <input type="submit" value="Asignar" class="btn btn-default" />
        </div>
    </div>

    <br />
    <br />
    <div><span id="sp-resultado" class="text-success"></span></div>
    



}
@{
    <h4 class="text-success">@ViewBag.Mensaje</h4>;
    <br />
    <br />
   

}
@if (ViewBag.Partial != "") {
@Html.Partial((string)ViewBag.Partial)

}else
{
    @Html.ActionLink("Regresar al incio.", "Index", "Home");
}

@section Scripts {
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
       
@Scripts.Render("~/bundles/jqueryval")
}

