@*<!DOCTYPE html>*@
@model Pelicula


@{
    ViewBag.Title = "Ver";
}

<h2>Ver</h2>

<div>
    <h4>Pelicula</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Título)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Título)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Género)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Género)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Duración)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Duración)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.País)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.País)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Año)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Año)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EnCarTelera)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EnCarTelera)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sinopsis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sinopsis)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RutaDeImagen)
        </dt>

        <dd>
            <img src="@Url.Content(Model.RutaDeImagen)" width="250" height="250"/>

            
        </dd>

    </dl>
</div>


<div>
    <video controls width="500" height="300">
   
       
        <source src="@Url.Content(Model.RutaDeVideo)" type="video/mp4" />
       
    </video>

</div>

@*<div>
   @using (Html.BeginForm("Comentarios", "Home",new { idPelicula =Model.Id}, FormMethod.Post,new { @class = "form-horizontal" }))
   {
       <br />
       <br />
       <br />
       <label for="Contenido">Comentarios:</label><br />
    <textarea name="Contenido"></textarea>
    <input type="submit" value="Enviar" />
   }

</div>*@
<div>
    @using (Ajax.BeginForm("Comentarios", "Home", new { idPelicula = Model.Id },new AjaxOptions() {

        HttpMethod = "POST",
        InsertionMode = InsertionMode.InsertBefore,
        UpdateTargetId = "divComentario"

    }, new { @class = "form-horizontal" }))
    {
        <br />
        <br />
        <br />
        <label for="Contenido">Comentarios:</label><br />
        <textarea name="Contenido" cols="100" rows="5" id="txtContenido"></textarea><br /><br />
        <input type="button" value="Publicar" id="btnPublicar"/>

    }

</div>
@*<div id="divComentario1">
    @foreach (var comentario in Model.Comentarios)
    {
        <h5>@comentario.Contenido</h5>
    }

</div><br />*@
<br />
<br />
<div id="divComentario">
    @foreach(var comentario in Model.Comentarios)
    {
        <h5>@comentario.Contenido</h5>
    }

</div><br />



<p>
    @Html.ActionLink("Editar", "Editar", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>


@section scripts{
    @*<script src="~/Scripts/video.js"></script>
    <script src="~/Scripts/video.dev.js"></script>
    <script>
        var reproductor = videojs('fm-video', {

        });
    </script>*@
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script>
        $(function () {

            $('#btnPublicar').click(function () {
                var url = "@Url.Action("Comentarios","Home", new { idPelicula = Model.Id })";
                var contenidoActual = $('#divComentario').val();
                var Actual = { contenidoActual: contenidoActual };
                var Contenido = $('#txtContenido').val();
                var data = { Contenido: Contenido };
                $.post(url,data).done(function(data){
                    $('#divComentario').html(data).insertBefore(contenidoActual);
                   
                    $('#txtContenido').val('');
                });
            });
        });
    </script>
    }




